.todotable {
  width: 100%;
  margin-top: 1em;
  margin-bottom: 1em;
  font-size: 18px;
  border-collapse: collapse;
}

.todotable td {
  padding: 8px;
  border: 1px solid #f6f6f6;
}
.todotable tr {
  background: #fbfdff;
}
.todotable tr:nth-child(2n+1) {
  background: #e9eff7;
}

.todotable input[type=checkbox] {
  width: 18px;
  height: 18px;
}

.todotable-label {
  width: 100%;
}

.todotable .done .todotable-label {
  text-decoration: line-through;
}

.todoitem-remove-link:hover {
  cursor: pointer;
}